@model FoodItemDisplayModel
@{

}
<html>
	<h1><center>About Us</center></h1>
	<p style="text-align: left;">
		<span style="color: black;">Welcome to Spice N Rice, one of the prominent Indian restaurants
		near Welland, Canada. We take pride in offering freshly prepared and authentic South Indian cuisine, with a wide variety
		of options to choose from. Our specialization lies in Kerala food, where we prioritize quality above all.
		As the best Indian and Kerala restaurant in Niagara Region, we are committed in providing our valuable customers with fresh 
		and delicious food.
		</span>
		</p>
		<p style="text-align: left;"><span style="color: black;">At Spice N Rice, we understand your cravings for South Indian
			and Kerala cuisine, and we are here to fulfill them with our authentic flavors. With numerous options available,
			finding the best restaurant can be challenging. However, at Spice N Rice, the best Kerala restaurant in Welland, 
			you will always feel at home when it comes to food because you deserve the best.
		</span>
		</p>
		<p style="text-align: left;"><span style="color: black;">Our mission is to satisfy your longing for homely food while 
			you are away from home. We stand out for the authenticity of our spices and freshly prepared dishes. 
			We believe in providing real essence and taste, as opposed to frozen or packed food. When it comes to experiencing 
			the true flavors of South Indian cuisine, you need the best Indian restaurant in Welland.
		</span>
		</p>
		
</html>